.team-area{
    padding: 70px 0;
}
.section-title{
    margin-bottom: 60px;
    text-align: center;
}
.section-title h2{
    font-size: 32px;
    font-weight: 700;
    text-transform: capitalize;
    position: relative;
    margin-bottom: 5px;
}
.section-border span{
    height: 5px;
    background: #13287e;
    width: 40px;
    display: inline-block;
    border-radius: 2px;
}
.section-border span.black-border{
    background: #333;
    width: 25px;
    margin: 0px 5px;
}
.single-member img{
    border: 2px solid #c8c8c8;
    max-width: 100%;
    min-height: 303px;
}
.member-social-links{
    background: #13287e;
    padding: 5px 0px;
    text-align: center;
    margin: -25px 25px 0px;
    position: relative;
    border-radius: 3px;
}
.member-social-links a{
    background: #fff;
    color: #13287e;
    display: inline-block;
    border: 1px solid #fff;
    margin: 5px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    transition: 0.3s
}
.member-social-links a:hover{
    background: #13287e;
    color: #fff

}
.single-member h4{
    text-align: center;
    text-transform: capitalize;
    margin-top: 20px;
}
.single-member h4 span{
    display: block;
    font-size: 15px;
    font-weight: 300;
    color: #13287e;
    margin-top: 6px;
}